<div class="container main-container">

    <!-- Visualizar no "Console" os resultados!!! -->
    <h3>Promise Success</h3>
    <button (click)="promiseName('Rodrigo')">Click</button>

    <br>
    <br>

    <h3>Promise Fail</h3>
    <button (click)="promiseName('Other')">Click</button>    

    <br>
    <br>
    

    <h3>Observable Success</h3>
    <button (click)="observableName('Rodrigo')">Click</button>

    <br>
    <br>

    <h3>Observable Fail</h3>
    <button (click)="observableName('Other')">Click</button>    

    <br>
    <br>

    <h3>Observer Success</h3>
    <button (click)="observerSuccess()">Click</button>  

    <br>
    <br>

    <h3>Observer Error</h3>
    <button (click)="observerError()">Click</button>  
  
</div>