<div class="container main-container">
    <h4>Demo Cadastro</h4>
    <form novalidate (ngSubmit)="addUser()" [formGroup]="cadastroForm">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label" for="name">Nome Completo</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" id="name" placeholder="Nome" formControlName="name"
                        [ngClass]="{'is-invalid': displayMessage.name }" />
                    <span class="text-danger" *ngIf="displayMessage.name">
                        <p [innerHTML]="displayMessage.name"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="cpf">Número do Documento</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" id="cpf" placeholder="CPF" formControlName="cpf"
                        [ngClass]="{'is-invalid': displayMessage.cpf }" />
                    <span class="text-danger" *ngIf="displayMessage.cpf">
                        <p [innerHTML]="displayMessage.cpf"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="email">Email</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" id="email" placeholder="Email" formControlName="email"
                        [ngClass]="{'is-invalid': displayMessage.email }" />
                    <span class="text-danger" *ngIf="displayMessage.email">
                        <p [innerHTML]="displayMessage.email"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="password">Senha</label>
                <div class="col-md-10">
                    <input class="form-control" type="password" id="password" placeholder="Senha"
                        formControlName="password" [ngClass]="{'is-invalid': displayMessage.password}" />
                    <span class="text-danger" *ngIf="displayMessage.password">
                        <p [innerHTML]="displayMessage.password"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="confirmPassword">Confirmar Senha</label>
                <div class="col-md-10">
                    <input class="form-control" type="password" id="confirmPassword" placeholder="Confirmar Senha"
                        formControlName="confirmPassword" [ngClass]="{'is-invalid': displayMessage.confirmPassword}" />
                    <span class="text-danger" *ngIf="displayMessage.confirmPassword">
                        <p [innerHTML]="displayMessage.confirmPassword"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <span><button class="btn btn-success" id="register" [disabled]="!cadastroForm.valid"
                            type="submit">Registrar</button></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <p>Formulário válido: {{ cadastroForm.valid }}</p>
                    <p>Formulário tocado: {{ cadastroForm.touched }}</p>
                    <p>Formulário sujo: {{ cadastroForm.dirty }}</p>
                </div>
            </div>

        </div>
    </form>
</div>